@import "tailwindcss";

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.material-symbols-outlined.fill {
  font-variation-settings: "FILL" 1;
}

:root {
  --font-inter: "Inter", sans-serif;
}
